.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 400ms;
  &:hover {
    box-shadow: 3px 3px 6px 1px rgb(41, 41, 41, 0.2);
  }
}
