.productCardBox {
  width: 200px;
  height: 300px;
  background: linear-gradient(0deg, #cdffbe, #e8ffe4);
  transition: transform 0.3s ease-out;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgb(41, 41, 41, 0.3);
    @media screen and (min-width: 600px) {
      transform: translate(2px, -5px);
    }
  }
  .product-card-imageContainer {
    height: 200px;
    width: 200px;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    img {
      -webkit-user-drag: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }
  .product-card-imageContainer-s {
    height: 150px;
    width: 150px;
    img {
      height: 150px;
      width: 150px;
    }
  }
  .productDetails {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    user-select: none;
    .productNameContainer {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      .productName {
        margin: 0;
        font-weight: 600;
        font-size: 16px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .productDescription {
      font-size: 12px;
      color: #8a8a8a;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: fit-content;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }
    .productPrice {
      padding: 4px;
      border-radius: 2px;
      background-color: rgba(81, 146, 81, 0.3);
      width: fit-content;
      font-size: 15px;
      font-weight: 600;
      color: #292929;
    }
    .productCardLowerdiv {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .productDetails-s {
    padding: 6px 3px;
    .productNameContainer-s {
      .productName-s {
        font-size: 14px;
      }
    }

    .productDescription-s {
      font-size: 10px;
    }
    .productPrice-s {
      padding: 3px;
      font-size: 13px;
    }
  }
}
.productCardBox-s {
  width: 150px;
  height: 225px;
}
