.productCardBox {
  width: 200px;
  height: 300px;
  background: linear-gradient(0deg, #cdffbe, #e8ffe4);
  transition: transform 0.3s ease-out;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgb(41, 41, 41, 0.3);
    transform: translate(2px, -5px);
  }
  .product-card-imageContainer {
    height: 200px;
    width: 200px;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    img {
      -webkit-user-drag: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }
  .productDetails {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    .productName {
      margin: 0;
      font-weight: 600;
      font-size: 12px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .productPrice {
      font-size: 12px;
    }
  }
}
