.home {
  width: 100%;
  max-width: 1050;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .imageContainer {
    width: 97vw;
    height: 85vh;
    position: relative;
    border-radius: 3px;
    @media (max-width: 500px) {
      height: 50vh;
    }
  }
  .sectionContainer {
    display: flex;
    justify-content: center;
  }
}
