.deliveryAddressOuterContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: -webkit-fill-available;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  //   border: 1px solid rgba(78, 77, 77, 0.8);
  border-radius: 5px;
  padding: 10px 10px 0 10px;

  .deliveryAddressContainer {
    min-width: 150px;
    min-height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: fit-content;
    background-color: rgb(238, 238, 238, 0.5);
    max-width: 500px;
    border: 4px solid rgba(187, 192, 188, 0.8);
    border-radius: 5px;
    position: relative;
    .deliveryName {
      font-weight: bold;
      font-size: 16px;
      display: flex;
      justify-content: center;
    }
    .deliveryPhone {
      font-size: 14px;
      display: flex;
      justify-content: center;
      color: rgb(0, 0, 0, 0.6);
    }
    .deliveryAddressSection {
      margin-top: 10px;
      font-size: 14px;
      color: rgb(0, 0, 0, 0.6);
    }
  }
  .selectedAddress {
    border: 4px solid rgba(111, 185, 255, 0.8);
    background-color: rgba(223, 242, 253, 0.8);
  }
  .defaultAddress {
    // background-color: rgb(215, 235, 219);
    .deliverydefaultTick {
      font-size: medium;
      position: absolute;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}
