.buyPageMainContainer {
  width: 97vw;
  .step-progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    .progress-container {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 4px;
      background-color: #ccc;
      z-index: -1;
      .progress {
        height: 100%;
        background-color: #007bff;
        transition: width 0.3s;
      }
    }
  }
  .buyPageAddressSection {
    .selectAddressSection {
      width: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgba(78, 77, 77, 0.8);
      }

      .deliveryAddressEdit {
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        .selection-text {
          font-size: 18px;
          font-weight: 400;
          margin-right: 5px;
          color: rgba(78, 77, 77, 0.8);
          @media screen and (max-width: 500px) {
            font-size: 16px;
          }
        }
        .editButton {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 200px;
          .editButtonText {
            font-size: 18px;
            @media screen and (max-width: 500px) {
              font-size: 14px;
            }
            font-size: 16px;
            margin-right: 5px;
            &:hover {
            }
          }
          svg {
            @media screen and (max-width: 500px) {
              width: 14px;
              height: 14px;
            }
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .step {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ccc;
    z-index: 1;
  }
  .step.active {
    font-weight: bold;
    color: #007bff;
  }
}
