.buyPageMainContainer {
  width: 100vw;
  .step-progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
  }
  .progress-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #ccc;
    z-index: -1;
  }
  .progress {
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s;
  }
  .step {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ccc;
    z-index: 1;
  }
  .step.active {
    font-weight: bold;
    color: #007bff;
  }
}
