
  .prouctBox{
    display: none;
  }

  .productTypeBox {
    height: 100px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightblue;
  }
  

  .productTypeBox:hover .prouctBox {
    display: visible;
  }