#carousel{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: scroll;
    white-space: nowrap;
    width: -webkit-fill-available;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.carousel-title{
        margin-left: 10px;
    }
#carousel-child{
        display: flex;
        cursor: grab;
    }

#carousel::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}