svg:hover {
    fill: black;
  }
  
  svg:hover path {
    fill:  black;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  
  svg path {
    transition: all ease 0.5s;
  }

  svg:hover text {
    fill:  black;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  
  svg text {
    transition: all ease 0.5s;
  }